﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - @Html.Raw(Resources.Resource.NombreApp)</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*<link rel="stylesheet" type="text/css" href="~/Content/themes/base/bootstrap.css" />*@
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/bootstrap")

        <style>
            .delete-section {
                display: inline;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="navbar nav">
                    <div class="">
                        <div class="navbar-header">
                            <button class="navbar-toggle" data-toggle="collapse" data-target="#menu-ikea-intranet">
                                <img src="~/Images/desplegable-responsive.svg" class="toggle-button-responsive">
                            </button>
                            <a class="navbar-brand" href="/Home/Index" alt="logo-ikea"><img src="~/Images/ikea-logo.svg"></a>
                            <div class="collapse navbar-collapse" id="menu-ikea-intranet">
                                @if (Request.IsAuthenticated) {
                                <ul id="menu" class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink(Resources.Resource.menuMaestros, "Index", "Maestro", null, new { title = Resources.Resource.tlmenuMaestro })</li>
                                    @if (Context.User.IsInRole ("Administrador")) {
                                    <li>@Html.ActionLink(Resources.Resource.menuUsuarios, "Index", "Usuario", null, new { title = Resources.Resource.tlmenuUsuarios })</li>}
                                </ul>
                                }
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        @Html.Partial("_LoginPartial")
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </header>
            <div id="body">
                @RenderSection("featured", required: false)
                <div class="">
                    @RenderBody()
                </div>
            </div>
            @Html.Partial("./popup/_Mensaje")
            @*@Html.Partial("./popup/_Confirm")
            @Html.Partial("./popup/_Mensaje")*@
        </div>
        <footer class="fijo">
            <div class="content-wrapper">
                <div class="tCenter">
                    <p>&copy; Inter IKEA Systems B.V 2019-@DateTime.Now.Year</p>
                </div>
            </div>
        </footer>
        <div class="GoTop">
            <svg viewBox="0 0 24 24" id="direction-up" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"><path d="M12 8.407l-6.646 6.647-.707-.707L12 6.993l7.354 7.354-.707.707z" fill-rule="evenodd"></path></svg>
        </div>
        @* jquery v1.11.1 *@
        @* jqueryUI v1.11.1 *@
        @* bootstrap v3.3.7 *@
        @* Añadido main.js custom *@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")

        <script src="~/Scripts/main.js"></script>

        @RenderSection("scripts", required: false)        
        
    </body>
    <div id="divProcessing" class="mTop12" style="display:none;">
        <div class="mensaje">
            <img src="../../Images/ajax-loader.svg" height="50px" width="50px">
            <p>@Html.Raw(Resources.Resource.lbEspereFichero)</p>
        </div>
    </div>
</html>
