﻿@if (User.Identity.IsAuthenticated) {
    <text>
        <img class="img-profile" src="~/Images/profile.jpg"> @Html.Label(User.Identity.Name)
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" title="Desconectar"><i class="glyphicon glyphicon-off"></i></a>
        }
    </text>
} 