﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Resource.pagError;
}

<hgroup class="title">
    <h1 class="error">@ViewBag.Title </h1>
    <h2 class="error">@Html.Raw(Resources.Resource.msgErrorInseperado) </h2>
</hgroup>
