﻿@model MantenimientoCalculadora.Models.LoginModel

@{
    ViewBag.Title = @Html.Raw(Resources.Resource.pagLogin);
}

@*<hgroup class="title">*@
    <h1>@ViewBag.Title</h1>
@*</hgroup>*@

<section id="loginForm">
    @*<h2> @Html.Raw(Resources.Resource.lbAcesso)  </h2>*@
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    <div class="form-group text">
                        @Html.LabelFor(m => m.UserName )
                        @Html.TextBoxFor(m => m.UserName , new {@class="form-control input-sm"})
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </li>
                <li>
                    <div class="form-group text login-password">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password , new {@class="form-control input-sm"})
                        <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" class="icon-eye">
                            <title>Mostrar Password</title>
                            <g class="">
                                <path xmlns="http://www.w3.org/2000/svg" fill="#111" fill-rule="evenodd" d="M12 17c3.975 0 7.456-3.554 8.706-4.999C19.454 10.558 15.963 7 12 7c-3.975 0-7.456 3.554-8.706 4.999C4.546 13.442 8.037 17 12 17zm0-11c5.523 0 10 6 10 6s-4.477 6-10 6-10-6-10-6 4.477-6 10-6zm0 2a4 4 0 1 1 0 8 4 4 0 0 1 0-8z" contenteditable="false"></path>
                            </g>
                        </svg>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </li>
                <li>
                    <div class="text">
                        <div class="input-checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        </div>
                    </div>
                </li>
                <li>
                    <div class="text">
                        <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btLogin)" title='@Html.Raw(Resources.Resource.tlbtLogin)' />
                    </div>
                </li>
            </ol>
        </fieldset>
       
    }
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
