﻿html {
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff;
    border-top: none;
    color: #333;
    /*font-size: .85em;*/
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    /*background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;*/
}

    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    clear: both;
    padding: 4rem 0 2rem 0;
    color: #fff;
    background: #0058a3;
}
footer.fijo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #111;
            text-decoration: none;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: underline;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    /*border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;*/
    text-align: center;
    margin-top: 20px;
}

#loginForm .validation-error {
    display: block;
    margin-left: 15px;
}

#loginForm .validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

#loginForm .validation-summary-errors li {
    display: inline;
    list-style: none;
    margin: 0;
}

#loginForm input {
    width: 100%;
}

#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button {
    width: auto;
}

/* Home/Index */

.img-banner {
    margin-left: auto;
    margin-right: auto;
}

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    display: none;
}

fieldset ol {
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}

fieldset ol li {
    padding-bottom: 5px;
}
@media(max-width:500px){
    fieldset ol {
        width:100%;
    }
}

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important;
    clear: both;
    color: #ff0000;
    font-size: 13px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #ff0000;
}

/* styles for validation helpers */
.field-validation-error {
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important;
    color: #ff0000;
    font-weight: normal;
    font-size: 13px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #ff0000;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important;
    color: #ff0000;
    font-weight: normal;
    font-size: 13px;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}


/* Nuevos estilos para administración de ikea */

.oculto {
    display: none;
  }
  .mTop12 {
    margin-top: 12px !important;
  }
  .mBottom12 {
    margin-bottom: 12px !important;
  }
  .mLeft5 {
    margin-left: 5px !important;
  }
  .mLeft12 {
    margin-left: 12px !important;
  }
  .mRight12 {
    margin-right: 12px !important;
  }
  .mRight12 {
    margin-right: 12px !important;
  }
  .fLeft {
    float: left !important;
  }
  .fRight {
    float: right !important;
  }
  .vTop {
    vertical-align: top !important;
  }
  .tLeft {
    text-align: left !important;
  }
  .tRight {
    text-align: right !important;
  }
  .tCenter {
    text-align: center;
  }
  .w50 {
      width:50% !important;
  }
  .fSize12 {
      font-size: 12px !important;
  }
  .w700 {
      width: 700px !important;
      margin-right: auto;
      margin-left: auto;
  }
  /* Estilos Sidebar fijo */
  .wrapper,
  .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .wrapper:before,
  .wrapper:after,
  .column:before,
  .column:after {
    content: "";
    display: table;
  }
  .wrapper:after,
  .column:after {
    clear: both;
  }
  #sidebar {
    /*background-color:#eee;*/
    height: 100%;
    position: fixed;
    right: 0;
  }
  /* collapse con flecha */
  a {
    font-size: 15px;
  }
  a .icon-arrow {
    width: 17px;
    height: 9px;
    margin-left: 10px;
  }
  a .icon-arrow.down {
    transform: rotate(180deg);
  }
  a .icon-arrow.up {
    transform: rotate(0deg);
  }
  @media all {
    .input-checkbox label {
      cursor: pointer;
    }
    .input-checkbox:not([data-disable-style="true"]) {
      position: relative;
      /* Disabled labels */
      /* Focused custom elements */
      /* Custom checkbox input */
    }
    .input-checkbox:not([data-disable-style="true"]) input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: -9999px;
    }
    .input-checkbox:not([data-disable-style="true"]) input[type="checkbox"] + input + label:before {
      display: inline-block;
      content: "";
      background: url("../Images/form-sprite.svg") no-repeat 0 0;
      vertical-align: middle;
      height: 20px;
      width: 20px;
      /*margin: 0.25rem 0.35rem 0.25rem 0.25rem;*/
    }
    .input-checkbox:not([data-disable-style="true"]) input[type="checkbox"]:disabled + input + label {
      color: #999;
      cursor: not-allowed;
    }
    .input-checkbox:not([data-disable-style="true"]) input[type="checkbox"]:focus + input + label:before {
      box-shadow: 0 0 0 3px #9ebcdb;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
    }
    .input-checkbox:not([data-disable-style="true"]) [type="checkbox"] + input + label:before {
      background-position: 0 0;
    }
    .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked + input +  label:before {
      background-position: 0 -82px;
    }
    .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:active + input + label:before,
    .input-checkbox:not([data-disable-style="true"]) [type="checkbox"][data-active="true"] + input + label:before {
      background-position: 0 -27px;
    }
    .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked:active + input + label:before,
    .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked[data-active="true"] + input + label:before {
      background-position: 0 -109px;
    }
    .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:disabled + input + label:before {
      background-position: 0 -54px;
    }
    .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked:disabled + input + label:before {
      background-position: 0 -136px;
    }
  }
  /* Estilos formulario */
  @media all {
    .text {
      margin-bottom: 12px;
    }
    #loginForm .text input {
        border: 1px solid #cccccc;
        border-radius: 2px !important;
        padding: 12.5px;
        outline: none;
        display: flex;
        width: 100%;
        /*box-shadow: none;*/
    }
    /*#loginForm .text input.input-lg {
        padding: 12.5px;
    }
    #loginForm .text input.input-sm {
        padding: 5px 10px;
    }*/
    #loginForm .text input[type="checkbox"],
    #loginForm .text input[type="checkbox"]:active,
    #loginForm .text input[type="checkbox"]:hover {
        width: auto;
        outline:none;
        box-shadow: none;
    }
    #loginForm .input-checkbox:not([data-disable-style="true"]) input[type="checkbox"] + input + label {
        margin-top: 0px;
    }
    .input-checkbox:not([data-disable-style="true"]) input[type="checkbox"] + input + label:before {
        /* margin-left: 5px;*/
        margin-right: 5px;
    }
    #loginForm .text input[type="submit"]{
        /*padding: 13px 20px;*/
        font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important;
        font-size: 14px;
        text-decoration: none;
        background-color: #407ab1;
        color: #ffffff;
        cursor: pointer;
        user-select: none;
        outline: none !important;
        border-radius: 2px;
        border: 1px solid #407ab1;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        outline:none;
        box-shadow: none;
        background-image: none;
    }
    #loginForm .text input[type="submit"]:active,
    #loginForm .text input[type="submit"]:hover {
        outline:none;
        box-shadow: none;
        background-color: #275882;
    }
    #loginForm .text input[type="submit"]:focus {
        text-decoration: none;
        box-shadow: 0 0 0 3px #b0cae2;
    }
    .text input:active,
    .text input:focus {
        box-shadow: 0 0 0 3px #cccccc;
    }
    .text input:hover {
      /*border-color: #999;*/
    }
    .text label {
      display: inline-block;
      margin-bottom: 2px;
      font-size: 13px;
      font-weight: normal;
      /*font-style: italic;*/
      float: left;
    }
    #loginForm svg {
        width: 24px;
        height: 45px;
        cursor: pointer;        
        position: relative;
        display: flex;
        top: -45px;
        right: 10px;
        align-items: center;
        float: right;
    }
    #loginForm svg.icon-eye.sm{
        height: 28px;
        top: -29px;
    }
    #loginForm svg.icon-eye.md{
        height:32px;
        top: -33px;
    }
    #loginForm .login-password span[data-valmsg-for="Password"] {
        margin-left: 24px;
    }
    #loginForm .input-checkbox label {
      margin-bottom: 15px;
    }
  }
  /* Estilos spinner loading */
  .contenedor-cargando {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 499;
    position: absolute;
    background: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    -webkit-transition: display .5s linear;
    transition: display .5s linear;
  }
  .contenedor-cargando.imagen-cargando {
    position: absolute;
    height: 72px;
    width: 72px;
    margin: auto;
    top: calc(16%);
    left: calc(16%);
    /*background-image: url(data:image/gif;base64,R0lGODlhSABIAPcAAAAAAAEBAQICAgMDAwQEBAUFBQYGBgcHBwgIC…AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==);*/
  }
  /* Estilos del menu IKEA */
  body {
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important;
    margin: 0 !important;
    padding: 0;
    width: 100%;
    color: #111 !important;
    margin-bottom: 90px !important;
  }
  /*h1{font-size:13px;margin-top:35px;margin-bottom:0;padding:0;font-weight:normal;letter-spacing:1px;text-transform:uppercase;}*/
  h1 {
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important;
    font-size: 36px !important;
    font-weight: 700 !important;
    /*letter-spacing: 0;*/
    line-height: 48px !important;
    text-align: center;
    letter-spacing: -1.75px;
  }
  h1 img {
    vertical-align: initial;
    margin-left: 15px;
    cursor: pointer;
  }
  /* Esta por decidir */
  /*h2{font-size:25px;margin-top:3px;font-weight:bold;}*/
  h3 {
    font-family: 'Segoe UI';
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
    font-size: 19px;
  }
  hr {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
  }
  textarea {
    resize: vertical;
  }
  .separado {
    margin-top: 25px;
  }
  .header {
    /*margin-top: 5px;
    border-bottom: 1px solid #ccc;*/
  }
  .control-label {
    text-align: left !important;
    font-weight: bolder !important;
    padding-top: 12px;
  }
  .block-title {
    background-color: #f7f7f7;
    color: #0360a6;
    padding: 4px 15px;
    font-size: 15px;
    margin-top: 10px;
  }
  .form-corto {
    width: auto;
  }
  .form-control {
    /* height: 45px !important; */
    border-radius: 0px !important;
    font-size: 13px;
  }
  .link1 {
    text-decoration: underline;
    color: #3531fa;
  }
  .link1:hover {
    text-decoration: none;
    color: #3531fa;
  }
  .textlegal {
    font-size: 12px;
    color: #8c8b8b;
  }
  .mid-air {
    margin-top: 15px;
  }
  .parrafo-IKEA {
    font-size: 13px;
    line-height: 147%;
    font-weight: lighter;
  }
  /* Botones */
  button.boton {
    font-family: 'Segoe UI';
    font-size: 20px;
    background: transparent;
    border: 1px solid #000000;
    color: #000000;
    padding: 14px 45px 14px 45px;
  }
  button.boton.principal {
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
  }
  button.boton.cerrar {
    background: #3b3B3B;
    color: #FFFFFF;
  }
  /*.btn {
      background-color: #337ab7 !important;
      background-image: none !important;
      border-radius: 0px !important;
      margin-top: 15px;
      width: 250px;
      height: 50px;
      font-weight: lighter !important;
      font-size: 12px;
      color: white !important;
  }
  .btn:hover{
      cursor: pointer;
      background-color: #265a88 !important;
  }*/
  .h4-IKEA {
    font-weight: bolder;
    font-size: 17px;
    line-height: 130%;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    h1 {
      margin-top: 25px;
    }
    .control-label {
      padding-top: 12px !important;
      font-weight: bolder !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    h1 {
      /*font-size: 12px;
      margin-top: 22px;*/
    }
    /*h2{font-size:22px;}*/
    .control-label {
      padding-top: 12px !important;
    }
  }
  @media (min-width: 768px){
      .navbar-brand {
          margin-left: auto !important;
      }
  }
  @media (max-width: 767px) {
    h1 {
      margin-top: 25px;
    }
    /*h2{margin-bottom:25px;}*/
    .center-xs {
      text-align: center;
    }
    .center-xs img {
      display: inline;
    }
  }
  /* Estilos detalle factura */
  .contenedor-factura-detalle {
    width: 100%;
    padding: 6px 30px 2px 20px;
    background: #e7e7e7;
    height: 34px;
  }
  .contenedor-factura-detalle p {
    font-family: 'Segoe UI Regular';
    font-size: 17px;
    line-height: 22px;
  }
  .contenedor-factura-detalle a {
    font-family: 'Segoe UI Regular';
    font-size: 15px;
    line-height: 22px;
  }
  .contenedor-sel-todo {
    margin-bottom: 45px;
  }
  /* Estilos listado de muebles */
  div.contenedor-listado-muebles {
    background: #ffffff;
    border: 1px solid #CACACA;
    /*padding-top: 13px;*/
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
  }
  div.contenedor-listado-muebles a {
    font-size: 15px;
  }
  div.contenedor-listado-muebles a .icon-arrow {
    width: 17px;
    height: 9px;
    margin-left: 10px;
  }
  div.contenedor-listado-muebles a .icon-arrow.down {
    transform: rotate(180deg);
  }
  div.contenedor-listado-muebles a .icon-arrow.up {
    transform: rotate(0deg);
  }
  div.contenedor-listado-muebles:first-child {
    margin-top: 45px;
  }
  div.contenedor-listado-muebles .descripcion-mueble {
    margin-top: 10px;
    /*margin-bottom: 13px;*/
    font-family: 'Segoe UI Regular';
    font-size: 20px;
  }
  div.contenedor-listado-muebles .titulo-mueble {
    margin-top: 10px;
    /*margin-bottom: 13px;*/
    font-family: 'Segoe UI Regular';
    font-size: 20px;
  }
  div.contenedor-listado-muebles .numero-mueble {
    margin-top: 10px;
    font-family: 'Segoe UI Regular';
    font-size: 15px;
    color: #000000;
  }
  div.contenedor-listado-muebles .montaje {
    margin-top: 10px;
    font-family: 'Segoe UI Regular';
    font-size: 17px;
    color: #000000;
  }
  div.contenedor-listado-muebles .montaje .input-checkbox {
    /*margin-left: 30%;*/
    display: inline;
    float: right;
    margin-right: 50%;
  }
  div.contenedor-listado-muebles .retirada {
    margin-top: 10px;
    font-family: 'Segoe UI Regular';
    font-size: 17px;
    color: #000000;
  }
  div.contenedor-listado-muebles .retirada .input-checkbox {
    float: right;
    margin-right: 50%;
  }
  div.contenedor-listado-muebles .retirada .icon-information {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  div.contenedor-listado-muebles .cantidad {
    margin-top: 10px;
    font-family: 'Segoe UI Regular';
    font-size: 17px;
  }
  div.contenedor-listado-muebles .cantidad .number-spinner {
    display: inline;
    float: right;
    margin-right: 47.6%;
  }
  div.contenedor-listado-muebles .ver-productos {
    margin-top: 10px;
  }
  div.contenedor-listado-muebles .ver-productos a {
    font-size: 17px;
  }
  div.contenedor-listado-muebles .articulos-sin-montaje {
    margin-top: 10px;
    font-family: 'Segoe UI Regular';
    font-size: 17px;
    color: #000000;
  }
  div.contenedor-listado-muebles .producto-sin-montaje {
    margin-top: 10px;
    border-top: 1px solid #CACACA;
  }
  div.contenedor-listado-muebles .producto-sin-montaje:first-child {
    border-bottom: none;
  }
  div.contenedor-listado-muebles .sin-montaje {
    margin-top: 10px;
    background: #970000;
    color: #FFFFFF;
    width: 98px;
    height: 24px;
    text-align: center;
    padding: 3px;
  }
  div.contenedor-listado-muebles .content-ocultar-bajo {
    text-align: center;
    display: block;
    padding-top: 10px;
  }
  div.contenedor-listado-muebles .content-ocultar-bajo a {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
  }
  div.contenedor-listado-muebles .content-ocultar-bajo .icon-arrow {
    width: 17px;
    height: 9px;
    margin-left: 10px;
  }
  div.contenedor-listado-muebles .content-ocultar-bajo .icon-arrow.up {
    transform: rotate(0deg);
  }
  /* Estilos de la calculadora */
  .contenedor-calculadora-montaje {
    font-family: 'Segoe UI';
    margin-left: -19px;
    background: #E5E5E5;
    padding: 23px 36px 23px 36px;
  }
  .contenedor-calculadora-montaje .total-montaje {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Segoe UI';
    text-align: center;
  }
  .contenedor-calculadora-montaje .contenedor-botones {
    text-align: center;
  }
  .contenedor-calculadora-montaje .total-articulos {
    font-size: 20px;
    text-align: center;
  }
  .contenedor-calculadora-montaje .aviso {
    font-size: 16px;
    font-style: italic;
  }
  .contenedor-calculadora-montaje .contenedor-botones {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  /* Estilos preguntas frecuentes */
  .contenedor-preguntas-frecuentes {
    font-family: 'Segoe UI';
    /* Estilos paneles */
  }
  .contenedor-preguntas-frecuentes h3 {
    margin-top: 15px;
  }
  .contenedor-preguntas-frecuentes a {
    display: block;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
    padding-top: 0px;
    background: #ffffff;
  }
  .contenedor-preguntas-frecuentes p {
    font-size: 15px;
  }
  .contenedor-preguntas-frecuentes .panel-group {
    margin-bottom: 0;
  }
  .contenedor-preguntas-frecuentes .panel-group .panel.panel-default {
    border-color: #ffffff;
    box-shadow: none;
  }
  .contenedor-preguntas-frecuentes .panel-group .panel.panel-default .panel-heading {
    padding: 0;
  }
  .contenedor-preguntas-frecuentes .panel-group .panel.panel-default .panel-body {
    border-top: none;
    padding: 0;
  }
  /* Estilos componente number-spinner */
  .number-spinner .input-value-spinner {
    width: 48%;
    text-align: center;
    border: none;
    /*pointer-events: none;*/
  }
  .number-spinner input[type=number]::-webkit-inner-spin-button,
  .number-spinner input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .number-spinner input[type=number] {
    -moz-appearance: textfield;
  }
  .number-spinner .glyphicon {
    font-size: 12px;
    cursor: pointer;
  }
  /* Estilos footer  */
  body {
    /*font-family: 'Verdana';
    font-size: 12px;*/
  }
  .contenido-centrado {
    width: 99.9%;
    margin: 0 auto;
  }
  .topMenu {
    margin-top: 20px;
    background-color: white;
  }
  .logoContainer {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .logoContainer a img {
    width: 120px;
    margin-left: 2em;
  }
  .footer {
    margin: 100px 0 5px 0;
    text-align: left;
    width: 100%;
  }
  #footerLinks {
    height: 35px;
    padding: 10px 10px 0 10px;
    color: #FFF !important;
    font-size: 11px;
    background-color: #666;
    width: 1080px;
    line-height: 1.42857143;
  }
  .separador-hf {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: -1px !important;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px !important;
    z-index: 2;
  }
  .bottomMenu.separado {
    /*position: fixed;
      bottom: 0;
      width: 100%;*/
  }
  .bottomMenu.fijo {
    /*position: absolute;
      bottom: 0;
      width: 99.9%;*/
  }
  .cont50-50 {
    float: left;
    position: relative;
  }
  .left {
    text-align: left;
    margin-left: 2em;
    width: 35%;
  }
  .right {
    text-align: right;
    margin-right: 2em;
    width: 60%;
  }
  .pRow {
    float: left;
    margin-right: 15px;
    border-top: solid thin lightgrey;
    letter-spacing: 0.1px;
  }
  .pRow-Right {
    float: right;
    margin-right: 15px;
    letter-spacing: 0.1px;
    margin-bottom: 0px;
  }
  .linkFooter {
    color: #407AB1;
  }
  .subir {
    color: black;
    text-decoration: none !important;
  }
  .subir:hover {
    text-decoration: underline !important;
  }
  .contenedorFooter {
    height: 20px;
  }
  .flecha-arriba {
    width: 10px;
  }
  @media only screen and (max-width: 992px) {
    .pRow-Right {
      float: left;
      margin-right: 15px;
      letter-spacing: 0.5px;
      margin-left: 2em;
    }
    .right {
      text-align: left;
      width: 100%;
    }
    .left {
      width: 100%;
    }
    .aireMas {
      margin-top: 15px;
    }
  }
  /* Estilos para los modales con mensaje para usuario */
  .contenedor-mensaje-usuario {
    font-family: 'Segoe UI';
    min-width: 475px;
  }
  .contenedor-mensaje-usuario .modal-dialog {
    border-radius: 0;
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content {
    padding: 20px 25px 30px 25px;
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header {
    padding: 0;
    border-bottom: none;
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close {
    opacity: 1;
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close:focus,
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close:active {
    text-decoration: none;
    outline: none;
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close img {
    width: 14.5px;
    height: 14.5px;
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close img:focus,
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close img:active {
    text-decoration: none;
    outline: none;  
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body {
    padding: 0;
    /*text-align: center;*/
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body h4 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body p {
    font-size: 15px;
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-footer {
    padding: 0;
    /*text-align: center;*/
    border-top: none;
    margin-top: 20px;
  }
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-footer button {
    width: 100%;
    font-weight: normal;
  }
  header .site-title a img {
    width:90px;
    height: 40px;
  }
  .navbar-header {
      width: 100%;
  }
  .navbar-brand {
      padding: 0 !important;
      width: 90px !important;
      height: 40px !important;
  }
  .navbar-brand:hover {
    background-color: transparent;
  }
  .navbar .navbar-brand img{ 
    width:90px;
    height: 40px;
  }
  .navbar .navbar-brand a:hover{ 
    background-color: #fff;
  }
  .navbar-right li{
    display: inline !important;
    list-style: none;
    /* padding-left: 15px; */
    position: relative !important;
    padding-top: 10px;
  }
  @media(max-width:768px) {
      .navbar-right {
          text-align: center;
      }
  }
  .navbar-right img.img-profile {
    width: 22px;
    height: 22px;
    margin-bottom: 5px;
  }
  .navbar-right li label {
      margin-bottom: 0px;
      font-weight: normal;
  }
  .navbar-right li a {
    color: #111;
    margin-left: 5px;
  }
  .navbar-right li a:hover {
    background-color: transparent;
    color: #111;
  }
  .navbar-toggle {
      padding: 0px !important;
      margin-right: 0px !important;
  }
  .toggle-button-responsive {
      width: 24px;
      height: 24px;
  }
  @media(max-width:768px) {
    div#menu-ikea-intranet {
        width: 100%;
    }
  }
/* Estilos Formulario intranet */
form .form-group {
    margin-bottom: 5px;
}
form {
    width:700px;
    margin-right: auto;
    margin-left: auto;
}
@media(max-width:768px){
    form{
        width: auto;
    }    
}
form .text input{
    display: block;
    clear: both;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 2px !important;
    width: 100%;
    -webkit-appearance: none;
    outline:none;
    box-shadow: none;
}
.text input.input-lg {
    padding: 12.5px;
}
.text input.input-sm {
    padding: 5px 10px;
    font-size: 14px;
}
form .text input:hover {
    border-color: #999;
    outline: 0;
}
form .text input[readonly]:hover,form .text input[readonly]:active,form .text input[readonly]:focus {
    border-color: #ccc;
} 
/*form .text .form-control input[readonly="readonly"]:hover, form .text .form-control input[disabled="disabled"]:hover{
    border-color: none;
    outline: 0;
}*/
form .text input:active{
    box-shadow: 0 0 0 3px #b0cae2;
}
form .text input:focus{
    box-shadow: 0 0 0 3px #b0cae2;
    border-color: #999;
}
form .text select {
    display: block;
    clear: both;
}
form .text select {
    display: block !important;
    clear: both !important;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 2px !important;
    width: 100%;
    outline: none !important;
    box-shadow: none;
}
form .text select.input-lg {
    padding: 12.5px;
    box-shadow: none;
}
form .text select.input-sm {
    padding: 5px 5px;
    font-size: 14px;
    box-shadow: none;
}
form .text select:hover{
    border-color: #999;
    outline: 0;
}
form .text select:active{
    box-shadow: 0 0 0 3px #b0cae2;
}
form .text select:focus{
    box-shadow: 0 0 0 3px #b0cae2;
    border-color: #999;
}
form .text select{
    display: block;
    clear: both;
}

form .text .form-control[disabled],form .text .form-control[readonly],form .text fieldset[disabled] .form-control {
    background-color: rgb(235, 235, 228);
}
form .text .form-control[disabled]:hover,form .text  .form-control[readonly]:hover,form .text  fieldset[disabled]:hover .form-control {
    border-color: none !important;
}

form input[type="submit"].btn.btn-primary, .modal input[type="button"].btn.btn-primary, .file-upload input[type="button"].btn.btn-primary {
    background-color: #407ab1;
    border-color: #407ab1;
    color: #fff;
    padding: 10px 24px;
    max-width: 100%;
    font-weight: normal;
    font-size: 13px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    line-height: 1.2;
    text-decoration: none;
    outline: 0;
    -webkit-transition-property: background-color box-shadow;
    transition-property: background-color box-shadow;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
    background-image: none;
    box-shadow: none;
}
form input[type="submit"].btn.btn-primary.input-sm,.modal input[type="button"].btn.btn-primary.input-sm, .file-upload input[type="button"].btn.btn-primary.input-sm {
    line-height: 2px;
    padding: 9px 16px;
}
form input[type="submit"].btn.btn-primary.input-lg,.modal input[type="button"].btn.btn-primary.input-lg, .file-upload input[type="button"].btn.btn-primary.input-lg {
    padding: 13px 28px;
}
form input[type="submit"].btn.btn-primary:hover,form input[type="submit"].btn.btn-primary:focus,
.modal input[type="button"].btn.btn-primary:hover,.modal input[type="button"].btn.btn-primary:focus,
.file-upload input[type="button"].btn.btn-primary:hover,.file-upload input[type="button"].btn.btn-primary:focus {
    background-image: none;
    background-color: #3a6e9f;
    border-color: #3a6e9f;
    box-shadow: none;
}
form input[type="submit"].btn.btn-primary:focus,.modal input[type="button"].btn.btn-primary:focus,.file-upload input[type="button"].btn.btn-primary:focus {
    text-decoration: none;
    box-shadow: 0 0 0 3px #b0cae2;
}
/* Estilos de las tablas */
.table>thead>tr>th{
    border-bottom: none !important;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: none !important;
}
tbody {
    border-top: 1px solid #0058a3;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #e7e7e7;
}
.table a:hover{
    text-decoration: none;
    background-color: transparent;
    color: #111;
}
@media(max-width:768px){
    .table-responsive {
        border: none !important;
    }
}

/* Estilos Listados maestros */
#listado-maestro label {
  font-size: 14px;
}

/* Mensajes de alerta */

.alert {
    text-shadow: none !important;
    box-shadow: none !important;
    border-radius: 2px !important;
    padding: 12px 16px !important;
    background-image:none !important;
    text-align: left  !important;
    display: flex !important;
    width: 100%;
}
.alert .mensaje-texto {
    float: right;
    display: inline;
}
.alert-success {
    margin-top: 12px;
    color: #111 !important;
    background-color: transparent !important;
    border-color: #148a01 !important;
}
.alert-success .imagen-mensaje {
    float: left;
    margin-right: 10px;
    fill:#148a01 !important;
}
.alert-success svg path {
    fill:#148a01 !important;
}
.alert-warning {
    margin-top: 12px;
    color: #111 !important;
    background-color: transparent !important;
    border-color: #c78d00 !important;
}
.alert-warning .imagen-mensaje {
    float: left;
    margin-right: 10px;
    fill:#c78d00 !important;
}
.alert-warning svg path {
    fill:#c78d00 !important;
}
.alert-danger {
    margin-top: 12px;
    color: #111 !important;
    background-color: transparent !important;
    border-color: #e82c0c !important;
}
.alert-danger .imagen-mensaje {
    float: left;
    margin-right: 10px;
    fill:#e82c0c !important;
}
.alert-danger svg path {
    fill:#e82c0c !important;
}

/* Estilos para la subida de ficheros */

@media all {
    .file-upload {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      min-height: 160px;
      -webkit-flex-flow: wrap column;
          -ms-flex-flow: wrap column;
              flex-flow: wrap column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      /* padding: 32px; */
      background: #fafafa;
      outline: 1.2px dashed #ccc;
      outline-offset: -0.5rem;
      text-align: center;
      color: #666;
    }
    @include transition(background);
    .file-upload input[type="button"] {
        pointer-events: none;
    }
    .file-upload input[type="file"] {
      margin-top: 16px;
      display: none;
    }
    .file-upload.is-dragover {
      background: #eee;
    }
    .file-upload .svg-icon {
      fill: #666;
    }
    .file-upload__status-label {
      display: block;
      margin-bottom: 0;
      width: 100%;
      font-size: 15px;
      padding: 42px;
      cursor: pointer;
    }
    .file-upload__status-label .svg-icon {
      vertical-align: sub;
    }
    .file-upload__status-label-text {
      display: block;
      font-size: 16px;
      font-weight: normal;
    }
    .file-upload__button {
      display: none;
      margin-top: 16px;
    }
    .file-upload__upload {
      display: block;
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;
      max-width: 20em;
      width: 100%;
    }
    .file-upload__discard-file {
      cursor: pointer;
    }
    .file-upload__description-label {
      display: block;
      font-size: 13px;
    }
    .file-upload__description-label > span {
      color: #407ab1;
      text-decoration: underline;
      cursor: pointer;
    }
    .file-upload__description-label > span:hover,
    .file-upload__description-label > span:focus,
    .file-upload__description-label > span:active {
      color: #3a6e9f;
    }
    .js .file-upload__button {
      display: inline-block;
    }
  }
  @media all {
    .input-progress progress[value] {
      border: none;
      width: 100%;
      height: 8px;
      background-color: #eee;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }
    .input-progress progress[value]::-webkit-progress-bar {
      background-color: #eee;
    }
    .input-progress progress[value]::-webkit-progress-value {
      background-color: #999;
    }
    .input-progress progress[value]::-moz-progress-bar {
      background-color: #999;
    }
    .input-progress progress[value]::-ms-fill {
      border: none;
      background-color: #999;
    }
  }
  /* Ascensor */
    .GoTop {
        display: none;
    }
    @media (max-width: 767px) {
        .GoTop {
        display: none !important;
        }
    }
    .GoTop svg {
        top: 80% !important;
        position: fixed !important;
        right: 10px;
        cursor: pointer;
        /* opacity: .7; */
        z-index: 1001;
        display: -ms-flexbox;
        display: flex;
    }
    .GoTop svg path {
        fill:#0058a3;
    }
 /* cargando spinner */
 #divProcessing {
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -12px;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.7;
 }
#divProcessing .mensaje{
    z-index: 1;
    display: block;
    height: 100%;
    margin-top: 21%;
    margin-bottom: auto;
    opacity: 1;
    color: #fff;
    text-align: center;
}
  /* Estilos para selección con el ratón */
  /*::selection {*/
  /* WebKit/Blink Browsers */
  /*background: #407AB1;
    color: #ffce01;
  }*/
  /*::-moz-selection {*/
  /* Gecko Browsers */
  /*background: #407AB1;
    color: #ffce01;
  }*/
  