﻿@model IKEA.Entities.Maestro

@{
    ViewBag.Title = Resources.Resource.pagNuevoMaestro; ;
}

<h1> @ViewBag.Title</h1>
<div id="listado-maestro" class="tCenter mTop12 mBottom12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group text col-md-4">
                @Html.LabelFor(model => model.Referencia)  @Html.TextBoxFor(model => model.Referencia, null, new {  maxlength = 9, @class="form-control input-sm"} ) 
            </div>
            <div class="form-group text col-md-4">
                @Html.LabelFor(model => model.HFB) @Html.TextBoxFor(model => model.HFB, new { Name = "HFB" , @class="form-control input-sm"})
            </div>
            <div class="form-group text col-md-4">    
                @Html.LabelFor(model => model.PA)  @Html.TextBoxFor(model => model.PA, new {@class="form-control input-sm"})
            </div>
        </div>
        <div class="row">
            <div class="form-group text col-md-12">
                @Html.LabelFor(model => model.Concepto)  @Html.TextBoxFor(model => model.Concepto, new { maxlength = 200, @class="form-control input-sm" })
            </div>
        </div>
        <div class="row">
            <div class="form-group text col-md-6">
                @Html.LabelFor(model => model.FormulaMontaje) @Html.DropDownListFor(model => model.FormulaMontaje, ViewBag.Formulas as IEnumerable<SelectListItem>, new { Name = "FormulaMontaje", @class="form-control input-sm" })
            </div>
            <div class="form-group text col-md-6">
                @Html.LabelFor(model => model.EstructuraML)   @Html.TextBoxFor(model => model.EstructuraML, new {@class="form-control input-sm"})
            </div>
        </div>
        <div class="row">
            <div class="form-group text col-xs-12 col-md-3">
                <div class="input-checkbox">
                    @Html.CheckBoxFor(model => model.SPR)
                    @Html.LabelFor(model => model.SPR, new { @class = "checkbox" })
                </div>    
            </div>
            <div class="form-group text col-xs-12 col-md-3">
                <div class="input-checkbox">
                    @Html.CheckBoxFor(model => model.Montaje)
                    @Html.LabelFor(model => model.Montaje, new { @class = "checkbox" }) 
                </div>
            </div>
            <div class="form-group text col-xs-12 col-md-3">
                <div class="input-checkbox">
                    @Html.CheckBoxFor(model => model.Retirada)
                    @Html.LabelFor(model => model.Retirada, new { @class = "checkbox" }) 
                </div>
            </div>
            <div class="form-group text col-xs-12 col-md-3">
                <div class="input-checkbox">
                    @Html.CheckBoxFor(model => model.SofaModular)
                    @Html.LabelFor(model => model.SofaModular, new { @class = "checkbox" }) 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group text col-md-12">
                @Html.LabelFor(model => model.Excepciones) @Html.TextBoxFor(model => model.Excepciones, new {@class="form-control input-sm"})
            </div>
        </div>
        <div class="row mTop12">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btCancelar)" formaction="Create" formmethod="get" title="@Html.Raw(Resources.Resource.btCancelar)" />
                <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btAceptar)" formaction="Create" formmethod="post" title="@Html.Raw(Resources.Resource.btAceptar)" />
                <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btVolver)" formaction="Volver" formmethod="get" title="@Html.Raw(Resources.Resource.btVolver)" />
            </div>
        </div>
        }
    </div>
