﻿
@model IKEA.Entities.Maestro
@using IKEA.Entities;

@{
    ViewBag.Title = Resources.Resource.pagConsutarMaestro;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> @ViewBag.Title</h1>
<div id="listado-maestro" class="tCenter mTop12 mBottom12">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group text col-md-4">
            @Html.LabelFor(model => model.Referencia) @Html.TextBoxFor(model => model.Referencia, new { @readonly = "readonly" , @class="form-control input-sm"})
        </div>
        <div class="form-group text col-md-4">
            @Html.LabelFor(model => model.HFB) @Html.TextBoxFor(model => model.HFB, new { @readonly = "readonly" , @class="form-control input-sm"})
        </div>
        <div class="form-group text col-md-4">
            @Html.LabelFor(model => model.PA)  @Html.TextBoxFor(model => model.PA, new { @readonly = "readonly" , @class="form-control input-sm"})
        </div>
    </div>
    <div class="row">
        <div class="form-group text col-md-12">
            @Html.LabelFor(model => model.Concepto) @Html.TextBoxFor(model =>model.Concepto, new { @readonly = "readonly" , @class="form-control input-sm"})
        </div>
    </div>
    <div class="row">
        <div class="form-group text col-md-6">
            @* Revisar como meterlo como combo con valor seleccionado o input text *@
            @* https://stackoverflow.com/questions/6807256/dropdownlist-set-selected-value-in-mvc3-razor *@
            @*@Html.LabelFor(model => model.FormulaMontaje) <p>@Comun.GetDisplayNameSinError(typeof(Maestro.TiposFormulas), @Model.FormulaMontaje.ToString())</p>*@
            @Html.LabelFor(model => model.FormulaMontaje)
            <input class="form-control input-sm" readonly value='@Comun.GetDisplayNameSinError(typeof(Maestro.TiposFormulas), @Model.FormulaMontaje.ToString())'>
        </div>
        <div class="form-group text col-md-6">    
            @Html.LabelFor(model => model.EstructuraML)  <input class="form-control input-sm" readonly value='@Html.DisplayFor(model =>model.EstructuraML)'>
        </div>
    </div>
    <div class="row">
        <div class="form-group text col-xs-12 col-md-3">
            <div class="input-checkbox">
                @Html.CheckBoxFor(model => model.SPR, new { @disabled = "disabled" })
                @Html.LabelFor(model => model.SPR, new { @class = "checkbox" })
            </div>
        </div>
        <div class="form-group text col-xs-12 col-md-3">
            <div class="input-checkbox">
                @Html.CheckBoxFor(model => model.Montaje, new { @disabled = "disabled" })
                @Html.LabelFor(model => model.Montaje, new { @class = "checkbox" })
            </div>
        </div>    
        <div class="form-group text col-xs-12 col-md-3">
            <div class="input-checkbox">
                @Html.CheckBoxFor(model => model.Retirada, new { @disabled = "disabled" })
                @Html.LabelFor(model => model.Retirada, new { @class = "checkbox" }) 
            </div>
        </div>
        <div class="form-group text col-xs-12 col-md-3">
            <div class="input-checkbox">
                @Html.CheckBoxFor(model => model.SofaModular,  new { @disabled = "disabled" })
                @Html.LabelFor(model => model.SofaModular, new { @class = "checkbox" }) 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group text col-md-12">
            @Html.LabelFor(model => model.Excepciones) @Html.TextBoxFor(model =>model.Excepciones, new {@readonly="readonly", @class="form-control input-sm"})
        </div>
    </div>
    <div class="row">
        <div class="form-group text col-md-4">
            @Html.LabelFor(model => model.FechaCreacion) @Html.TextBoxFor(model => model.FechaCreacion, new {@readonly="readonly", @class="form-control input-sm"})
        </div>
        <div class="form-group text col-md-4">
            @Html.LabelFor(model => model.FechaModificacion) @Html.TextBoxFor(model =>model.FechaModificacion, new {@readonly="readonly", @class="form-control input-sm"})
        </div>
        <div class="form-group text col-md-4">
            @Html.LabelFor(model => model.UsuarioCambio, new {@class="fSize12"}) @Html.TextBoxFor(model =>model.UsuarioCambio, new {@readonly="readonly", @class="form-control input-sm"})
        </div>
    </div>
    <div class="row mTop12">
        <div class="col-md-12">
            <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btVolver)" formaction="Volver" formmethod="get" title="@Html.Raw(Resources.Resource.btVolver)"  />
        </div>
    </div>
}
</div>