﻿
@model IKEA.Entities.Maestro

@{
    ViewBag.Title = Resources.Resource.pagEditarMaestro;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> @ViewBag.Title</h1>
<div class="tCenter mTop12 mBottom12">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group text col-md-4">
            @Html.LabelFor(model => model.Referencia)  @Html.TextBoxFor(model => model.Referencia, new { @readonly = "readonly" , @class="form-control input-sm"})
        </div>    
        <div class="form-group text col-md-4">
            @Html.LabelFor(model => model.HFB)  @Html.TextBoxFor(model => model.HFB, new {@class="form-control input-sm"})
        </div>
        <div class="form-group text col-md-4">
            @Html.LabelFor(model => model.PA)  @Html.TextBoxFor(model => model.PA, new {@class="form-control input-sm"})
        </div>
    </div>
    //Salto
    <div class="row">
        <div class="form-group text col-md-12">
            @Html.LabelFor(model => model.Concepto)  @Html.TextBoxFor(model => model.Concepto, new { maxlength = 200, @class="form-control input-sm" })
        </div>
    </div>
    //Salto
    <div class="row">
        <div class="form-group text col-md-6">
            @Html.LabelFor(model => model.FormulaMontaje) @Html.DropDownListFor(model => model.FormulaMontaje, ViewBag.Formulas as IEnumerable<SelectListItem>, new { Name = "FormulaMontaje",@class="form-control input-sm"})
        </div>
        <div class="form-group text col-md-6">
            @Html.LabelFor(model => model.EstructuraML)   @Html.TextBoxFor(model => model.EstructuraML, new{@class="form-control input-sm"})
        </div>
    </div>
    //Salto
    <div class="row">
        <div class="form-group col-xs-12 col-md-3 text">
            <div class="input-checkbox">
                @Html.CheckBoxFor(model => model.SPR)
                @Html.LabelFor(model => model.SPR , new { @class = "checkbox" }) 
            </div>    
        </div>
        <div class="form-group col-xs-12 col-md-3 text">
            <div class="input-checkbox">
                @Html.CheckBoxFor(model => model.Montaje)
                @Html.LabelFor(model => model.Montaje, new { @class = "checkbox" }) 
            </div>
        </div>
        <div class="form-group col-xs-12 col-md-3 text">
            <div class="input-checkbox">
                @Html.CheckBoxFor(model => model.Retirada)
                @Html.LabelFor(model => model.Retirada, new { @class = "checkbox" }) 
            </div>
        </div>
        <div class="form-group col-xs-12 col-md-3 text">
            <div class="input-checkbox">
                @Html.CheckBoxFor(model => model.SofaModular)
                @Html.LabelFor(model => model.SofaModular, new { @class = "checkbox" }) 
            </div>
        </div>
    </div>
    //Salto
    <div class="row">
        <div class="form-group text col-md-12">
            @Html.LabelFor(model => model.Excepciones) @Html.TextBoxFor(model => model.Excepciones, new {@class="form-control input-sm"})
        </div>
    </div>
    //Salto
    <div class="row">
        <div class="form-group col-md-4 text">
            @Html.LabelFor(model => model.FechaCreacion) @Html.TextBoxFor(model => model.FechaCreacion, new {@class="form-control input-sm", @readonly = "readonly"})
        </div>
        <div class="form-group col-md-4 text">
            @Html.LabelFor(model => model.FechaModificacion) @Html.TextBoxFor(model => model.FechaModificacion , new {@class="form-control input-sm", @readonly = "readonly"})
        </div>
        <div class="form-group col-md-4 text">
            @Html.LabelFor(model => model.UsuarioCambio,new {@class="fSize12"}) @Html.TextBoxFor(model => model.UsuarioCambio , new {@class="form-control input-sm", @readonly = "readonly"})
        </div>
    </div>
    <div class="row mTop12">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary input-sm"  value="@Html.Raw(Resources.Resource.btCancelar)" formaction="Edit?referencia=@Html.Raw(Model.Referencia)" formmethod="get" title="@Html.Raw(Resources.Resource.btCancelar)" /> 
            <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btAceptar)" formaction="Edit" formmethod="post" title="@Html.Raw(Resources.Resource.btAceptar)" /> 
            <input type="submit" class="btn btn-primary input-sm"  value="@Html.Raw(Resources.Resource.btVolver)" formaction="Volver" formmethod="get" title="@Html.Raw(Resources.Resource.btVolver)" />
        </div>
    </div>
}
</div>
