﻿@model IKEA.Entities.SalidaExcel

@{
    ViewBag.Title = Resources.Resource.pagImportarExcel; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @ViewBag.Title</h1>
<div class="container tCenter mTop12 mBottom12">
    @using (Html.BeginForm("ImportarExcel", "Maestro", null,
                FormMethod.Post,
                new { enctype = "multipart/form-data", method = "post", id = "myform", name = "myform" }))
    {
        @Html.AntiForgeryToken()
        <!--<div class="form-group text">
            <input type="file" name="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        </div>-->

        <div class="file-upload">
            <label class="file-upload__status-label">
                <span class="file-upload__status-label-text">
                    <svg class="svg-icon" viewBox="0 0 24 24" id="file-upload" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"><path d="M20 11h1v9H3v-9h1v8h16v-8zm-8-7l4 5h-3.5v8h-1V9H8l4-5z" fill-rule="evenodd"></path></svg>
                    <span class="file-upload__initial-text">Seleccione fichero</span>
                    <span class="file-upload__filename" style="display:none;"></span>
                    <!--<svg class="svg-icon file-upload__discard-file" style="display: none;"><use xlink:href="#cross"></use></svg>-->
                </span>
                <input type="file" name="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <input type="button" class="btn btn-primary input-sm mTop12" value="Escoja fichero">
            </label>
            <!--<div class="file-upload__upload" style="display: none;">
                <div class="input-progress">
                    <progress max="100" value="50"></progress>
                </div>
            </div>-->
        </div>

    <div class="row mTop12">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btSubirfichero)" id="process" value="process"  title="@Html.Raw(Resources.Resource.btSubirfichero)" />
            <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btVolver)" formaction="Index" formmethod="get" title="@Html.Raw(Resources.Resource.btVolver)" />
        </div>
    </div>
            


    }

        <div id="divResult" class="w700 mBottom12">
        <form> 
            @if (Model != null)
        {
                <h2>@Html.Raw(Resources.Resource.lbResultadoImportacion)</h2>
                <div class="row">
                    <div class="form-group text col-md-12">
                        @Html.LabelFor(model => model.NumLeidos) @Html.TextBoxFor(model => model.NumLeidos, new { @readonly = "readonly" , @class="form-control input-sm"})
                    </div>    
                </div>
                <div class="row">
                    <div class="form-group text col-md-12">
                        @Html.LabelFor(model => model.NumErrorLectura) @Html.TextBoxFor(model => model.NumErrorLectura, new { @readonly = "readonly" , @class="form-control input-sm"})
                    </div>    
                </div>
                <div class="row">
                    <div class="form-group text col-md-12">
                        @Html.LabelFor(model => model.NumProcesados) @Html.TextBoxFor(model => model.NumProcesados, new { @readonly = "readonly" , @class="form-control input-sm"})
                    </div>    
                </div>
                <div class="row">
                    <div class="form-group text col-md-12">
                        @Html.LabelFor(model => model.NumNuevos) @Html.TextBoxFor(model => model.NumNuevos, new { @readonly = "readonly" , @class="form-control input-sm"})
                    </div>    
                </div>
                <div class="row">
                    <div class="form-group text col-md-12">
                        @Html.LabelFor(model => model.NumCambios) @Html.TextBoxFor(model => model.NumCambios, new { @readonly = "readonly" , @class="form-control input-sm"})
                    </div>    
                </div>
                <div class="row">
                    <div class="form-group text col-md-12">
                        @Html.LabelFor(model => model.NumErrorProcesado) @Html.TextBoxFor(model => model.NumErrorProcesado, new { @readonly = "readonly" , @class="form-control input-sm"})
                    </div>    
                </div>                                                            
     }
        </div>
        </form>
    </div>
@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").css('display','none');

        // Attach click handler to the submit button:
        $('#process').click(function () {
            //$('#myform').submit();
            $("#divProcessing").css('display','block');
            return true;
        });

        $('.file-upload input[type="file"]').on('change',function(){
            var $valorFichero = $(this).val();
            var $valorFicheroTratado = $valorFichero.replace(/^.*\\/, "");
            if($valorFicheroTratado != ""){
                console.log('El valor del fichero es ' + $valorFicheroTratado);
                $('.file-upload__initial-text').css('display','none');
                $('.file-upload__filename').css('display','inline');
                $('.file-upload__filename').text($valorFicheroTratado);
            }else{
                $('.file-upload__initial-text').css('display','inline');
                $('.file-upload__filename').css('display','none');
            }
        });
    });

   
   

</script>
}