﻿@model MantenimientoCalculadora.Models.BuscardorMaestroModel
@using MantenimientoCalculadora;
@using IKEA.Entities;

@{
    ViewBag.Title = @Html.Raw(Resources.Resource.pagMaestro);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>


<div class="tCenter mTop12 mBottom12">
    @using (Html.BeginForm("Buscar", "Maestro"))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text">
                    @Html.LabelFor(model => model.Referencia) @Html.TextBoxFor(model => model.Referencia, null, new { maxlength = 9 , @class = "form-control input-sm"})
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text">
                    @Html.LabelFor(model => model.Concepto)  @Html.TextBoxFor(model => model.Concepto, new {@class="form-control input-sm"})
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text">
                    @Html.LabelFor(model => model.FormulaMontaje) @Html.DropDownListFor(model => model.FormulaMontaje, ViewBag.Formulas as IEnumerable<SelectListItem>, new { Name = "FormulaMontaje", @class="form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row mTop12">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btBuscar)" formaction="Buscar" title="@Html.Raw(Resources.Resource.btBuscar)" />
            @*Añadido @ en condición if*@
            @if(Context.User.IsInRole("Administrador")){   
                <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btNuevo)" formaction="Create" formmethod="get" title="@Html.Raw(Resources.Resource.btNuevo)" />
                <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btImportar)" formaction="ImportarExcel" formmethod="get" title="@Html.Raw(Resources.Resource.btImportar)" />
            }
            </div>
        </div>
        }
</div>

@if (Model.LstMaestro != null && Model.LstMaestro.Count != 0)
{
    <div class="table-responsive" id="listado-usuarios">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LstMaestro[0].Referencia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LstMaestro[0].Concepto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LstMaestro[0].FormulaMontaje)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LstMaestro)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Referencia)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Concepto)
                        </td>
                        <td>
                            @Comun.GetDisplayNameSinError(typeof(Maestro.TiposFormulas), item.FormulaMontaje.ToString())
                        </td>
                        <td>
                            @Html.ActionLink(Resources.Resource.btConsultar, "Details", new { referencia = item.Referencia }, new { title = Resources.Resource.tlConsultarMaestro })

                            @if (Context.User.IsInRole("Administrador"))
                            {
                                @Html.ActionLink(Resources.Resource.btEditar, "Edit", new { referencia = item.Referencia }, new { title = Resources.Resource.tlEditarMaestro })
                                @Html.ActionLink(Resources.Resource.btBorrar, "Delete", new { referencia = item.Referencia },
                                                new { @class = "deleteLink", title = Resources.Resource.tlBorrarMaestro, mensaje = item.Concepto })
                            }

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12 tCenter mBottom12">
            @Html.Raw(Resources.Resource.msgNumMaximoResultado)
        </div>
    </div>

}



@section scripts{
    @Html.Partial("../Shared/popup/_Confirm")
}
