﻿<!-- Codigo Antiguo -->
<!--<div id="dialog-confirm" title='@ViewBag.Title'>
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        <span id="textoConfirmar"> This item will be deleted. Are you sure?</span>
    </p>
</div> 
<script type="text/javascript">
$(document).ready(function () {
$("#dialog-confirm").dialog({
    autoOpen: false,
    modal: true,
    resizable: false,
    height: 180,
});
$(".deleteLink").click(function (e) {
    e.preventDefault();
    var targetUrl = $(this).attr("href");
    var cad = this.attributes["mensaje"].nodeValue;
    $("#textoConfirmar")[0].innerHTML = '@Html.Raw(Resources.Resource.msgConfirmacionBorrado)' + cad + ' ?';
    $("#dialog-confirm").dialog({
        buttons: {
            '@Html.Raw(Resources.Resource.btAceptar)': function () {
                window.location.href = targetUrl;
            },
            '@Html.Raw(Resources.Resource.btCancelar)': function () {
                $(this).dialog("close");
            }
        }
    });
    $("#dialog-confirm").dialog("open");
});
});
</script>-->

<!-- Codigo Nuevo -->
<!-- Modal de formulario de contratación -->
<div class="contenedor-mensaje-usuario modal fade" id="dialog-confirm" role="dialog">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><img src="../../../Images/icono-cerrar.svg" alt="icono-cerrar"></button>
        </div>
        <div class="modal-body">
        <h4>@ViewBag.Title</h4>
        <p id="textoConfirmar"> This item will be deleted. Are you sure?</p>
        </div>
        <div class="modal-footer"></div>
    </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".deleteLink").click(function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");
            var cad = this.attributes["mensaje"].nodeValue;
            $("#textoConfirmar")[0].innerHTML = '@Html.Raw(Resources.Resource.msgConfirmacionBorrado)' + cad + ' ?';
            $('.modal-footer').html("<input type='button' class='btn btn-primary input-sm BdeleteRecord' value='@Html.Raw(Resources.Resource.btAceptar)' title='@Html.Raw(Resources.Resource.tlbtBuscar)'/>"+
                                    "<input type='button' class='btn btn-primary input-sm' value='@Html.Raw(Resources.Resource.btCancelar)' title='@Html.Raw(Resources.Resource.btCancelar)'  data-dismiss='modal'/>");
            $(".BdeleteRecord").click(function(){
                window.location.href = targetUrl;
            });                                    
            $("#dialog-confirm").modal("show");
        });        
    });   
</script>

