﻿@if (@ViewBag.Mensaje != null && @ViewBag.Mensaje.Nivel == 1)
{
    /*Error*/
    <!--<div id="dialog-Mensaje" title='@ViewBag.Mensaje.Titulo' style="background-color:red">
        <p><span class="ui-icon ui-icon-error" style="float:left; margin:0 7px 20px 0;"></span>@ViewBag.Mensaje.Texto</p>
    </div>-->
    
    <div class="alert alert-danger w700">
        <div class="imagen-mensaje">
            <svg viewBox="0 0 24 24" id="cross-thin" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px">
                <path d="M17.941 5.352L12 11.293 6.059 5.352l-.707.707L11.293 12l-5.941 5.941.707.707L12 12.707l5.941 5.941.708-.707L12.707 12l5.942-5.941z" fill-rule="nonzero"></path>
            </svg>
        </div>
        <div class="mensaje-texto">
            <strong>@ViewBag.Mensaje.Titulo</strong>
            <p>@ViewBag.Mensaje.Texto</p>
        </div>
    </div>
        
}
@if (@ViewBag.Mensaje != null && @ViewBag.Mensaje.Nivel == 2)
{
    /*Advertencia*/
    <!--<div id="dialog-Mensaje" title='@ViewBag.Mensaje.Titulo' style="background-color:yellow">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>@ViewBag.Mensaje.Texto</p>
    </div>-->
    <div class="alert alert-warning w700">
        <div class="imagen-mensaje">
            <svg viewBox="0 0 24 24" id="alert-warning" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px">
                <g fill-rule="evenodd">
                    <path d="M11.955 5.065L20 19H3.91l8.045-13.935m0-2L21.733 20H2.178l9.777-16.935zM11 16v2h2v-2h-2zm0-6v5h2v-5h-2z" id="aca"></path>
                </g>
            </svg>
        </div>
        <div class="mensaje-texto">
            <strong>@ViewBag.Mensaje.Titulo</strong>
            <p>@ViewBag.Mensaje.Texto</p>
        </div>
    </div>   
}
@if (@ViewBag.Mensaje != null && @ViewBag.Mensaje.Nivel == 3)
{
    /*OK*/
    <!--<div id="dialog-Mensaje" title='@ViewBag.Mensaje.Titulo' style="background-color:green">
        <p><span class="ui-icon ui-icon-ok" style="float:left; margin:0 7px 20px 0;"></span>@ViewBag.Mensaje.Texto</p>
    </div>-->
    <!--<h1>@ViewBag.Mensaje.Titulo</h1>
    @ViewBag.Mensaje.Texto-->
    
    <div class="alert alert-success w700">
        <div class="imagen-mensaje">
            <svg viewBox="0 0 24 24" id="cross-thin" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px">
                <path d="M2.647 13.353l.707-.707L8 17.293 20.647 4.646l.707.708L8 18.707z" fill-rule="nonzero"></path>
            </svg>
        </div>
        <div class="mensaje-texto">
            <strong>@ViewBag.Mensaje.Titulo</strong>
            <p>@ViewBag.Mensaje.Texto</p>
        </div>
    </div>
}




