<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - @Html.Raw(Resources.Resource.NombreApp)</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*<link rel="stylesheet" type="text/css" href="~/Content/themes/base/bootstrap.css" />*@
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/bootstrap")
        <style>
            .delete-section {
                display: inline;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <header class="header">
                @*<div class="content-wrapper">*@
                    <div class="fLeft">
                        <div class="site-title">
                            <a href="/Home/Index" alt="logo-ikea" ><img src="~/Images/ikea-logo.svg"></a>
                            @*@Html.ActionLink("your logo here", "Index", "Home")*@
                        </div>
                        @if (Request.IsAuthenticated) {
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink(Resources.Resource.menuMaestros, "Index", "Maestro", null,  new { title = Resources.Resource.tlmenuMaestro })</li>
                                @if (Context.User.IsInRole ("Administrador"))
                                    {<li>@Html.ActionLink(Resources.Resource.menuUsuarios, "Index", "Usuario", null,  new { title = Resources.Resource.tlmenuUsuarios })</li>}
                            </ul>
                        </nav>
                    }
                    </div>
                    <div class="fRight content-usuario">
                        @*<section id="login">*@
                            @Html.Partial("_LoginPartial")
                        @*</section>*@
                    </div>
                @*</div>*@
            </header>
            <div id="body">
                @RenderSection("featured", required: false)
                <div class="">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="tCenter">
                    <p>&copy; Inter IKEA Systems B.V 1999-2019</p>
                </div>
            </div>
        </footer>
        @* jquery v1.11.1 *@
        @* jqueryUI v1.11.1 *@
        @* bootstrap v3.3.7 *@
        @* Añadido main.js custom *@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")

        <script src="~/Scripts/main.js"></script>

        @RenderSection("scripts", required: false)
        @Html.Partial("./popup/_Mensaje")
        @*@Html.Partial("./popup/_Confirm")
        @Html.Partial("./popup/_Mensaje")*@
        
    </body>
</html>
