﻿@model MantenimientoCalculadora.Models.EditarUsuarioModel
@{
    ViewBag.Title = Resources.Resource.pagNuevoUsuario;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @ViewBag.Title</h1>
<div class="tCenter mTop12 mBottom12">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text">
                @Html.LabelFor(model => model.Usuario.UserName) @Html.TextBoxFor(model => model.Usuario.UserName, new { Name = "UserName" , maxlength = 50, @class="form-control input-sm"})
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text">
                @Html.LabelFor(model => model.Usuario.NombreCompleto)  @Html.TextBoxFor(model => model.Usuario.NombreCompleto, new { Name = "NombreCompleto", maxlength = 150, @class="form-control input-sm" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text">
                @Html.LabelFor(model => model.Usuario.Perfil) @Html.DropDownListFor(model => model.Usuario.Perfil, ViewBag.Perfiles as IEnumerable<SelectListItem>, new { Name = "Perfil", @class="form-control input-sm" })
            </div>
        </div>
    </div>    
    <div class="row mTop12">
        <div class="col-md-12">
            <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btCancelar)" formaction="Create" formmethod="get" title="@Html.Raw(Resources.Resource.btCancelar)" />
            <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btAceptar)" formaction="Create" formmethod="post" title="@Html.Raw(Resources.Resource.btAceptar)" />
            <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btVolver)" formaction="Volver" formmethod="get" title="@Html.Raw(Resources.Resource.btVolver)" />
        </div>
    </div>
}
</div>