﻿@model MantenimientoCalculadora.Models.EditarUsuarioModel

@{
    ViewBag.Title = Resources.Resource.pagEditarUsuario;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> @ViewBag.Title</h1>
<div class="tCenter mTop12 mBottom12">
@using (Html.BeginForm())
{
    <h2>@Resources.Resource.lbModificarUsuario</h2>
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text">
                @Html.LabelFor(model => model.Usuario.UserName) @Html.TextBoxFor(model => model.Usuario.UserName, new {  @readonly = "readonly", Name = "UserName", id = "UserName" , @class="form-control input-sm"})
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text">
                @Html.LabelFor(model => model.Usuario.NombreCompleto)  @Html.TextBoxFor(model => model.Usuario.NombreCompleto, new { Name = "NombreCompleto", maxlength = 150 , @class="form-control input-sm" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text">
                @Html.LabelFor(model => model.Usuario.Perfil) @Html.DropDownListFor(model => model.Usuario.Perfil, ViewBag.Perfiles as IEnumerable<SelectListItem>, new { Name = "Perfil" , @class="form-control input-sm" })
            </div>
        </div>
    </div>
    <div class="row mTop12">
        <div class="col-md-12">
            <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btCancelar)" formaction="Edit?userName=@Html.Raw(Model.Usuario.UserName)" formmethod="get" title="@Html.Raw(Resources.Resource.btCancelar)" />
            <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btAceptar)" formaction="Edit" formmethod="post" title="@Html.Raw(Resources.Resource.btAceptar)" />
        </div>
    </div>
    <hr>
    <h2>@Resources.Resource.lbModificarContrasena</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text">
                @Html.LabelFor(model => model.Password) @Html.TextBoxFor(model => model.Password, new {@class="form-control input-sm"})
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text">
                @Html.LabelFor(model => model.ConfirmPassword)  @Html.TextBoxFor(model => model.ConfirmPassword , new {@class="form-control input-sm"})
            </div>
        </div>
    </div>
    <div class="row mTop12">
        <div class="col-md-12">
            <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btCancelar)" formaction="Edit" formmethod="get" title="@Html.Raw(Resources.Resource.btCancelar)" />
            <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btAceptar)" formaction="ChangePassword" formmethod="post" title="@Html.Raw(Resources.Resource.btAceptar)" />
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <input class="btn btn-primary input-sm" type="submit" value="@Html.Raw(Resources.Resource.btVolver)" formaction="Volver" formmethod="get" title="@Html.Raw(Resources.Resource.btVolver)" />
        </div>
     </div>
}
</div>
