﻿@model MantenimientoCalculadora.Models.BuscardorUsuarioModel

@{
    ViewBag.Title = @Html.Raw(Resources.Resource.pagUsuario);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>


<div class="tCenter mTop12 mBottom12">
    @using (Html.BeginForm("Buscar", "Usuario"))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group text col-md-12">
                @Html.LabelFor(model => model.UserName) @Html.TextBoxFor(model => model.UserName, new {@class="form-control input-sm"})
            </div>
        </div>
        <div class="row">
            <div class="form-group text col-md-12">
                @Html.LabelFor(model => model.NombreCompleto)  @Html.TextBoxFor(model => model.NombreCompleto , new {@class="form-control input-sm"})
            </div>
        </div>
        <div class="row">
            <div class="form-group text col-md-12">
                @Html.LabelFor(model => model.Perfil) @Html.DropDownListFor(model => model.Perfil, ViewBag.Perfiles as IEnumerable<SelectListItem>, new { Name = "Perfil",@class="form-control input-sm" })
            </div>
        </div>
        <div class="row mTop12">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btBuscar)"  formaction="Buscar" title='@Html.Raw(Resources.Resource.tlbtBuscar)' />
                <input type="submit" class="btn btn-primary input-sm" value="@Html.Raw(Resources.Resource.btNuevo)"  formaction="Create" formmethod="get" title='@Html.Raw(Resources.Resource.tlbtNuevo)' />
            </div>
        </div>
    }
</div>

@if (Model.LstUsuario != null && Model.LstUsuario.Count != 0)
{
    <div class="table-responsive" id="listado-usuarios">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LstUsuario[0].UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LstUsuario[0].NombreCompleto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LstUsuario[0].Perfil)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.LstUsuario)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Perfil)
                    </td>
                    <td>
                        @Html.ActionLink(Resources.Resource.btEditar, "Edit", new { userName = item.UserName }, new { title = Resources.Resource.tlEditarUsuario })
                        @Html.ActionLink(Resources.Resource.btBorrar, "Delete", new { userName = item.UserName },
                 new { @class = "deleteLink", title = Resources.Resource.tlBorrarUsuario, mensaje = item.NombreCompleto })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}



@section scripts{
    @Html.Partial("../Shared/popup/_Confirm")
   

}